@charset "utf-8";
/* CSS Document */

/* Utilities Start */

.no-padding {
	padding: 0px !important;
}

.margin-top-30px {
	margin-top:30px;
}

/* Utilities End */

/* Theme Start */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');

body {
	font-family: 'Dosis', sans-serif;
}

/* Theme End */

/* Main Section Start */
.main-section {
	background: url(../images/employees.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 55vH;
	background-position: bottom;
}

.main-wrapper {
	background: rgba(0 , 0 , 0 , 0.6);
	height: inherit;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.main-wrapper h1 {
	color: #ffffff;
	font-weight: 300;
}

.main-wrapper h1 span {
	color:#ffb400;
	font-weight: 600;
}

.main-search-bar {
	background: #171c26;
	padding:30px;
}

.main-search-bar input {
	border-radius: 0px;
}

.main-search-bar h3 {
	color: #ffffff;
	margin: 0px;
}

.main-search-bar h3 span {
	color:#ffb400;
	font-weight: 600;
}

.feedback-given {
	background: #ffb400;
	padding:30px;
}

.main-search-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -60px;
}

.employees-wrapper {
	margin-top:30px;
	background: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1.6px solid #cdcdcd;
}

.employees-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.employees-wrapper figure img {
	border-radius: 50%;
}

.employees-wrapper figure p {
	text-align: center;
	margin-top:25px;
}

.employees-wrapper figcaption {
	text-align: center;
	background: #171c26;
	margin-top: 30px;
}

.employees-wrapper figcaption h2 {
	font-weight: 600;
	color: #ffb400;
}

.employees-wrapper figcaption p {
	color: #ffffff;
}

.employees-wrapper figcaption div {
	margin-top:-20px;
}

.employees-wrapper figcaption div button {
	background: #ffb400;
	border: none;
	margin-top: 5px;
	margin-bottom: 10px;
}

.search-section {
	background: #f7f7f7;
}

.profile-name , .profile-designation {
	text-align: left;
	margin: 3px;
}

.ratings-section {
	background: #171c26;
}

.ratings-section h3 {
	color: #ffb400;
	font-weight: 600;
}

.ratings-section p {
	color: #ffffff;
	margin-top:7px;
}

.modal-footer {
	text-align: left;
	background: #ffb400;
	border-top: 1px solid #171c26;
	padding-top:30px;
}

.star {
	padding-left: 0px;
	cursor: pointer;
}

.star i {
	color:#ffffff;
	font-size: 18px;
}

.star-button {
	text-align: right;
	border-top: 1px solid #ffb400;
	margin-top:30px;
	padding-top: 30px;
}

.star-button button {
	background: #ffb400;
	border: none;
	margin-bottom: 30px;
}

.feedback-button {
	text-align: right;
}

.feedback-button button {
	background: #ffb400;
	border: none;
	margin-bottom: 30px !important;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #171c26;
    background: #ffb400;
}
/* Main Section End */